body {
    background-color: #fff9f9
}


.wrapper {
    margin-bottom: 200px;
}


h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Dancing Script', cursive;
}

.container-fluid {
    background-color: #e08296;
}


#logo {
    width: 300px;
}

.logo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.navbar {
    background-color: #e08296;
}

.nav-link {
    width: 140px;
    height: 50px;
    background: #e08296;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;

}

.nav-link:hover {
    cursor: pointer;
    font-size: 28px;
}


.collapse {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
}

.navbar-toggler {
    margin: 10px 0 10px 0;
}



.wrapper ul {
    position: inherit !important;
    transform: translate3d(0px, 10px, 0px) !important;
    box-shadow: 10px 5px 5px rgb(173, 165, 165);
    transition: all 0.5s ease-out;
    margin-bottom: 200px;
}

.dropdown {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
}

#summary thead tr {
    border-bottom: 2px solid #ddd;
}

#summary tr {
    border-bottom: 1px solid #ddd;
}

td {
    vertical-align: middle;
}



table {
    width: 100%;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}



table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

thead tr td,
.titleOfCategory {
    font-weight: 700;
}

#allExpenses,
#summary,
#detail {

    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    box-shadow: 10px 5px 5px rgb(173, 165, 165);
    transition: all 0.5s ease-out;

}

#summary tr {
    background-color: #f9c6d1;
}

.btn {
    background-color: #e08296;
    color: black;
    text-align: center;
    box-shadow: 10px 5px 5px rgb(173 165 165);
    transition: all 0.5s ease-out;
    border: none;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    width: 75%;
}

#buttonToAddNewExpense {
    width: 30% !important;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    border: none;
    color: #383435;
    background-color: #e08296;

}

#budget {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#amount {

    transition: all 0.3s ease;
}


#amount:focus {

    box-shadow: inset 0px 0px 2px 2px #ef97aa;
}


#cancel {
    background-color: rgb(246, 54, 54);
    width: 25% !important;
    margin-right: 15px;

}

#accept {
    background-color: rgb(61, 187, 61);
    width: 35% !important;
    margin-right: 10px;
}

#floatingInput:hover,
#floatingInput:focus {
    border-color: #756c6e;
    box-shadow: inset 0px 0px 2px 2px #ef97aa;
}




@media screen and (max-width: 800px) {

    #budget {
        width: 60%;
    }
}

@media screen and (max-width: 700px) {

    .container {
        width: 90%;
    }

    #budget {
        width: 85%;
    }



    #allExpenses,
    #summary,
    #detail {
        box-shadow: none;
        transition: none;
    }

    #allExpenses tr,
    #summary tr,
    #detail tr {
        box-shadow: 10px 5px 5px rgb(173, 165, 165);
        transition: all 0.5s ease-out;
    }


    table {
        border: 0;
        box-shadow: none;
        transition: none;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        /*border-bottom: 3px solid #ddd;*/
        display: block;
        margin-bottom: .625em;
    }

    table td {
        /* border-bottom: 1px solid #ddd;*/
        display: flow-root;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);*/

        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }

    .titleOfCategory {
        display: none;
    }
}